@font-face {
  font-family: 'XcodeDigits';
  src: local('XcodeDigits Regular'), url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/XcodeDigits-regular.ttf');
  unicode-range: U+0030-0039;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --monospace-font: SF Mono, monospace, ui-monospace;
  --xcode: XcodeDigits;
  --compact: SF Compact Text, SF Pro Text, -apple-system, sans-serif;
}
* {
  font-feature-settings: 'cv01', 'cv02', 'cv03', 'ss04' 0;
}
html {
  -webkit-font-smoothing: antialiased !important;
}
.line-numbers {
  -webkit-font-smoothing: initial !important;
}
.sticky-line-number,
.overlayWidgets [widgetid="editor.contrib.stickyScrollWidget"] [style*="--vscode-editorStickyScroll"]:first-of-type,
#status\.editor\.selection a,
.marker-line,
.monaco-editor .margin-view-overlays,
.editor-container .margin-view-overlays {
  font-family: var(--xcode), var(--compact) !important;
}
.pane-body .detected-link {
  font-family: var(--xcode), var(--monospace-font) !important;
}
.notification-toast-container [aria-label='Your Code installation appears to be corrupt. Please reinstall.\, notification'] {
  display: none !important;
}
.notification-toast.notification-fade-in-done:has([aria-label='Your Code installation appears to be corrupt. Please reinstall.\, notification']) {
  box-shadow: none !important;
}
.bb svg,
.mac {
  font-family: var(--compact) !important;
}
.sticky-widget span,
.editor-scrollable span {
  font-weight: 500;
}
.sticky-widget span .mtkb,
.editor-scrollable span .mtkb {
  -webkit-font-smoothing: initial !important;
  font-weight: 800;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab:hover:not(.active) {
  outline: 1px dashed;
  outline-offset: -5px;
}
.monaco-list .monaco-list-row:hover {
  outline: 1px dashed #f38518;
  outline-offset: -1px;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label,
.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label {
  order: 3;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
  padding-left: 0;
  padding-right: 10px;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab > .tab-actions {
  order: 2;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab > .tab-actions .actions-container {
  justify-content: flex-end;
  display: flex;
}
.open-editors .monaco-list .monaco-list-row {
  padding-left: 14px;
}
div.scm-editor-placeholder {
  font-family: var(--compact) !important;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Thin.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-ThinItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Light.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-LightItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Semibold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-SemiboldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Bold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-BoldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Heavy.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Mono';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-HeavyItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Thin.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-ThinItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Light.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-LightItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Semibold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-SemiboldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Bold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-BoldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Heavy.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFMono-Regular';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-HeavyItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Thin.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-ThinItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Light.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-LightItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Medium.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-MediumItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Semibold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-SemiboldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Bold.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-BoldItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-Heavy.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ui-monospace';
  src: url('https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts/Fonts/SF-Mono-HeavyItalic.woff2') format('woff2');
  unicode-range: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF, U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
/*# sourceMappingURL=vscode-custom-style.css.map */